*~
/**/.classpath
/**/.project
/**/.factorypath
atlassian-ide-plugin.xml
/**/.settings
/stacktrace.log
/target
/*/target/**/*
rebel.xml
.idea/
*.iml
*.class
*.ipr
*.iws
.mvn/
.mvn/*
logs/*
logs/
.clover
/*/*/*/application-local.*
